In [1]:
# import dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [2]:
# read the CSV, create df w/ only the needed data columns

neo_past_df = pd.read_csv(
    "../CSV_Input/NEO_1900-2020.csv",
    sep = ',',
    header = 0, 
    usecols = [0, 1, 3, 7])

# eliminate rows with NaN values

neo_past_df = neo_past_df.dropna()

#set Object as index

neo_past_df.set_index('Object', inplace=True)


# visualize the data
neo_past_df

,Close-Approach (CA) Date,CA Distance Minimum (LD | au),Estimated Diameter
Object,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,12.09 | 0.03107,970 m - 2.2 km
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,13.07 | 0.03360,970 m - 2.2 km
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,13.77 | 0.03537,970 m - 2.2 km
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,15.25 | 0.03917,970 m - 2.2 km
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,15.26 | 0.03922,970 m - 2.2 km
...,...,...,...
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,16.35 | 0.04200,1.0 km - 2.3 km
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,18.84 | 0.04842,1.0 km - 2.3 km
(2019 AS5),2019-Jan-08 00:37 ± < 00:01,0.04 | 0.00010,0.92 m - 2.1 m
(2020 CW),2020-Feb-01 12:50 ± < 00:01,0.04 | 0.00010,0.83 m - 1.9 m
(2008 TS26),2008-Oct-09 03:30 ± 00:03,0.03 | 7.79e-5,0.61 m - 1.4 m