In [1]:
# import dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [2]:
# read the CSV, create df w/ only the needed data columns

neo_past_df = pd.read_csv(
    "../CSV_Input/NEO_1900-2020.csv",
    sep = ',',
    header = 0, 
    usecols = [0, 1, 3, 7])
  

# eliminate rows with NaN values

neo_past_df = neo_past_df.dropna()

#set Object as index

neo_past_df.set_index('Object', inplace=True)

# delimate the distance column to highlight lunar distance data

neo_past_df[['Min. Dist. au','Min_Dist_LD']] = neo_past_df['CA Distance Minimum (LD | au)'].str.split('|',expand=True)


# eliminate unecessary distance data
neo_past_df = neo_past_df.drop(['CA Distance Minimum (LD | au)'], axis=1)


neo_past_df = neo_past_df.drop(['Min. Dist. au'], axis=1)


# visualize the data
neo_past_df

,Close-Approach (CA) Date,Estimated Diameter,Min_Dist_LD
Object,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,970 m - 2.2 km,0.03107
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,970 m - 2.2 km,0.03360
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,970 m - 2.2 km,0.03537
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,970 m - 2.2 km,0.03917
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,970 m - 2.2 km,0.03922
...,...,...,...
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,1.0 km - 2.3 km,0.04200
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,1.0 km - 2.3 km,0.04842
(2019 AS5),2019-Jan-08 00:37 ± < 00:01,0.92 m - 2.1 m,0.00010
(2020 CW),2020-Feb-01 12:50 ± < 00:01,0.83 m - 1.9 m,0.00010
(2008 TS26),2008-Oct-09 03:30 ± 00:03,0.61 m - 1.4 m,7.79e-5

In [3]:
#convert LD to kilometers, rename the column 

neo_past_df['Closest Approach (km)'] = (neo_past_df['Min_Dist_LD'].astype(float) * 384402).astype(int)
neo_past_df = neo_past_df[["Close-Approach (CA) Date", "Closest Approach (km)", "Estimated Diameter"]]

In [11]:
neo_past_df

,Close-Approach (CA) Date,Closest Approach (km),Estimated Diameter
Object,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,11943,970 m - 2.2 km
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,12915,970 m - 2.2 km
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,13596,970 m - 2.2 km
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,15057,970 m - 2.2 km
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,15076,970 m - 2.2 km
...,...,...,...
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,16144,1.0 km - 2.3 km
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,18612,1.0 km - 2.3 km
(2019 AS5),2019-Jan-08 00:37 ± < 00:01,38,0.92 m - 2.1 m
(2020 CW),2020-Feb-01 12:50 ± < 00:01,38,0.83 m - 1.9 m
(2008 TS26),2008-Oct-09 03:30 ± 00:03,29,0.61 m - 1.4 m

In [19]:
neo_past_df.sort_values(['Closest Approach (km)'], ascending=True)

,Close-Approach (CA) Date,Closest Approach (km),Estimated Diameter
Object,,,
(2017 VL2),1961-Nov-12 02:05 ± 8_05:08,16,16 m - 36 m
(2009 JE1),2009-May-09 07:25 ± 1_16:24,16,12 m - 26 m
(2017 UR2),2004-Oct-16 16:50 ± 2_18:15,16,7.7 m - 17 m
(2011 AE3),2011-Jan-03 13:17 ± 13:13,16,6.7 m - 15 m
(2017 UL52),2017-Oct-20 07:38 ± 1_01:21,16,6.7 m - 15 m
...,...,...,...
(2019 GT3),2019-Sep-06 04:21 ± < 00:01,19204,170 m - 380 m
35107 (1991 VH),1945-Aug-05 16:37 ± < 00:01,19204,1.2 km - 2.7 km
(2018 DN1),2020-May-04 08:13 ± < 00:01,19216,48 m - 110 m
(2003 TM1),1981-Mar-08 07:59 ± < 00:01,19216,100 m - 230 m
415713 (1998 XX2),1998-Nov-18 12:47 ± < 00:01,19220,280 m - 620 m

In [14]:
neo_past_df

,Close-Approach (CA) Date,Closest Approach (km),Estimated Diameter
Object,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,11943,970 m - 2.2 km
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,12915,970 m - 2.2 km
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,13596,970 m - 2.2 km
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,15057,970 m - 2.2 km
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,15076,970 m - 2.2 km
...,...,...,...
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,16144,1.0 km - 2.3 km
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,18612,1.0 km - 2.3 km
(2019 AS5),2019-Jan-08 00:37 ± < 00:01,38,0.92 m - 2.1 m
(2020 CW),2020-Feb-01 12:50 ± < 00:01,38,0.83 m - 1.9 m
(2008 TS26),2008-Oct-09 03:30 ± 00:03,29,0.61 m - 1.4 m