In [1]:
# import dependencies
import csv
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [2]:
#Creates reference to past CSV file
pastcsv = os.path.join("..", "CSV_Input", "NEO_1900-2020.csv")

#Imports CSV into a pandas Dataframe and drops any rows with null values
past_neo_df = pd.read_csv(pastcsv)
past_neo_df.head()

,Object,Close-Approach (CA) Date,CA Distance Nominal (LD | au),CA Distance Minimum (LD | au),V relative (km/s),V infinity (km/s),H (mag),Estimated Diameter,Unnamed: 8
0,252P/LINEAR,2016-Mar-21 13:16 ± < 00:01,13.87 | 0.03563,13.87 | 0.03563,10.56,10.55,NaN,NaN,c00252_0
1,7P/Pons-Winnecke,1927-Jun-26 19:36 ± < 00:01,15.33 | 0.03938,15.32 | 0.03938,13.91,13.90,NaN,NaN,c00007_0
2,322P/SOHO,1947-Apr-11 04:00 ± 02:19,18.46 | 0.04744,18.07 | 0.04643,40.46,40.46,NaN,NaN,c00322_0
3,289P/Blanpain,1919-Dec-09 03:20 ± 17:45,18.37 | 0.04720,18.37 | 0.04720,11.41,11.41,NaN,NaN,c00289_0
4,P/1999 J6 (SOHO),1999-Jun-12 05:23 ± 00:27,4.70 | 0.01206,3.74 | 0.00960,42.92,42.91,NaN,NaN,dJ99J060

In [3]:
#past_neo_df = past_neo_df[["Object", "Close-Approach (CA) Date", "CA Distance Nominal (LD | au)", "CA Distance Minimum (LD | au)", "Estimated Diameter"]]
past_neo_df = past_neo_df[["Object", "Close-Approach (CA) Date", "CA Distance Nominal (LD | au)", "Estimated Diameter"]]
past_neo_df.set_index('Object', inplace=True)
past_neo_df.head()

,Close-Approach (CA) Date,CA Distance Nominal (LD | au),Estimated Diameter
Object,,,
252P/LINEAR,2016-Mar-21 13:16 ± < 00:01,13.87 | 0.03563,NaN
7P/Pons-Winnecke,1927-Jun-26 19:36 ± < 00:01,15.33 | 0.03938,NaN
322P/SOHO,1947-Apr-11 04:00 ± 02:19,18.46 | 0.04744,NaN
289P/Blanpain,1919-Dec-09 03:20 ± 17:45,18.37 | 0.04720,NaN
P/1999 J6 (SOHO),1999-Jun-12 05:23 ± 00:27,4.70 | 0.01206,NaN

In [4]:
past_neo_df.dropna(inplace = True)
past_neo_df

,Close-Approach (CA) Date,CA Distance Nominal (LD | au),Estimated Diameter
Object,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,12.09 | 0.03107,970 m - 2.2 km
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,13.07 | 0.03360,970 m - 2.2 km
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,13.77 | 0.03537,970 m - 2.2 km
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,15.25 | 0.03917,970 m - 2.2 km
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,15.26 | 0.03922,970 m - 2.2 km
...,...,...,...
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,16.35 | 0.04200,1.0 km - 2.3 km
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,18.84 | 0.04842,1.0 km - 2.3 km
(2019 AS5),2019-Jan-08 00:37 ± < 00:01,0.04 | 0.00010,0.92 m - 2.1 m
(2020 CW),2020-Feb-01 12:50 ± < 00:01,0.04 | 0.00011,0.83 m - 1.9 m
(2008 TS26),2008-Oct-09 03:30 ± 00:03,0.03 | 8.44e-5,0.61 m - 1.4 m

In [5]:
#Keeps only Lunar Distance (LD) portion of CA Distance Nominal column
nomdistld = past_neo_df["CA Distance Nominal (LD | au)"].str.split(" | ", n = 1, expand = True)
nomdistld = past_neo_df["CA Distance Nominal (LD | au)"].str.split(" | ", n = 1, expand = True)
past_neo_df["CA Distance Nominal (LD)"] = nomdistld[0]

#Keeps only Lunar Distance (LD) portion of CA Distance Minimum column
#mindistld = neo_past_df["CA Distance Minimum (LD | au)"].str.split(" | ", n = 1, expand = True)
#neo_past_df["CA Distance Minimum (LD)"] = mindistld[0]

#Converts Lunar Distance to kilometers and updates column in DataFrame
#neo_past_df["CA Distance Nominal (km)"] = neo_past_df["CA Distance Nominal (LD)"].astype(float) * (384402)
#neo_past_df["CA Distance Minimum (km)"] = neo_past_df["CA Distance Minimum (LD)"].astype(float) * (384402)
#neo_past_df = neo_past_df[["Close-Approach (CA) Date", "CA Distance Nominal (km)", "CA Distance Minimum (km)", "Estimated Diameter"]]
#neo_past_df

In [6]:
#Keeps only Lunar Distance (LD) portion of CA Distance Minimum column
#mindistld = neo_past_df["CA Distance Minimum (LD | au)"].str.split(" | ", n = 1, expand = True)
#neo_past_df["CA Distance Minimum (LD)"] = mindistld[0]



#Converts Lunar Distance to kilometers and updates column in DataFrame
past_neo_df["CA Distance Nominal (km)"] = past_neo_df["CA Distance Nominal (LD)"].astype(float) * (384402)
past_neo_df = past_neo_df[["Close-Approach (CA) Date", "CA Distance Nominal (km)", "Estimated Diameter"]]
past_neo_df

,Close-Approach (CA) Date,CA Distance Nominal (km),Estimated Diameter
Object,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,4647420.18,970 m - 2.2 km
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,5024134.14,970 m - 2.2 km
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,5293215.54,970 m - 2.2 km
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,5862130.50,970 m - 2.2 km
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,5865974.52,970 m - 2.2 km
...,...,...,...
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,6284972.70,1.0 km - 2.3 km
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,7242133.68,1.0 km - 2.3 km
(2019 AS5),2019-Jan-08 00:37 ± < 00:01,15376.08,0.92 m - 2.1 m
(2020 CW),2020-Feb-01 12:50 ± < 00:01,15376.08,0.83 m - 1.9 m
(2008 TS26),2008-Oct-09 03:30 ± 00:03,11532.06,0.61 m - 1.4 m

In [7]:
#Seperates min and max diameter of each NEO and converts all of their respective sizes into kilometers
def mindiameter(rawdiameter):
    diam = rawdiameter.split(" ")
    if diam[1] == "km":
        return float(diam[0])
    else:
        return float(diam[0])/1000
def maxdiameter(rawdiameter):
    diam = rawdiameter.split(" ")
    if diam[-1] == "km":
        return float(diam[-2])
    else:
        return float(diam[-2])/1000
    
#Adds their Min/Max diameters in kms to two new columns
past_neo_df["Min Diameter (km)"] = past_neo_df["Estimated Diameter"].apply(mindiameter)
past_neo_df["Max Diameter (km)"] = past_neo_df["Estimated Diameter"].apply(maxdiameter)

<ipython-input-7-a28e9a9c9213>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  past_neo_df["Min Diameter (km)"] = past_neo_df["Estimated Diameter"].apply(mindiameter)

In [8]:
#Within this updated DataFrame keeps only objects Max Diameter larger than 0.1km
past_neo_df = past_neo_df.loc[past_neo_df["Max Diameter (km)"] > 0.1]
past_neo_df

,Close-Approach (CA) Date,CA Distance Nominal (km),Estimated Diameter,Min Diameter (km),Max Diameter (km)
Object,,,,,
161989 Cacus (1978 CA),1997-Sep-01 23:45 ± < 00:01,4647420.18,970 m - 2.2 km,0.97,2.2
5604 (1992 FE),2017-Feb-24 10:03 ± < 00:01,5024134.14,970 m - 2.2 km,0.97,2.2
5604 (1992 FE),1992-Feb-25 09:34 ± < 00:01,5293215.54,970 m - 2.2 km,0.97,2.2
285263 (1998 QE2),2013-May-31 20:59 ± < 00:01,5862130.50,970 m - 2.2 km,0.97,2.2
153311 (2001 MG1),1989-Aug-17 05:38 ± < 00:01,5865974.52,970 m - 2.2 km,0.97,2.2
...,...,...,...,...,...
4450 Pan (1987 SY),2008-Feb-19 22:21 ± < 00:01,6108147.78,1.0 km - 2.3 km,1.00,2.3
4450 Pan (1987 SY),1963-Feb-16 06:33 ± < 00:01,6177340.14,1.0 km - 2.3 km,1.00,2.3
4450 Pan (1987 SY),1937-Feb-18 18:39 ± < 00:01,6204248.28,1.0 km - 2.3 km,1.00,2.3
4450 Pan (1987 SY),1916-Aug-31 06:43 ± < 00:01,6284972.70,1.0 km - 2.3 km,1.00,2.3
85989 (1999 JD6),2015-Jul-25 04:55 ± < 00:01,7242133.68,1.0 km - 2.3 km,1.00,2.3

In [9]:
#Keeps only Objects with a CA Distance Nominal (km) less than a Lunar Distance from Earth (384402 km) 
past_neo_df = past_neo_df.loc[past_neo_df["CA Distance Nominal (km)"] < 384402]

past_neo_df

,Close-Approach (CA) Date,CA Distance Nominal (km),Estimated Diameter,Min Diameter (km),Max Diameter (km)
Object,,,,,
(2020 LD),2020-Jun-05 08:23 ± < 00:01,307521.60,89 m - 200 m,0.089,0.20
(2018 AH),2018-Jan-02 04:25 ± < 00:01,295989.54,84 m - 190 m,0.084,0.19
(2013 UG1),1976-Oct-17 04:21 ± < 00:01,326741.70,84 m - 190 m,0.084,0.19
(2018 MD7),1915-Aug-08 11:22 ± 4_09:29,111476.58,77 m - 170 m,0.077,0.17
458732 (2011 MD5),1918-Sep-17 22:24 ± 00:04,349805.82,730 m - 1.6 km,0.730,1.60
(2010 VB1),1936-Jan-06 12:08 ± < 00:01,211421.10,61 m - 140 m,0.061,0.14
(2011 XC2),2011-Dec-03 15:21 ± 00:05,345961.80,61 m - 140 m,0.061,0.14
(2019 OK),2019-Jul-25 01:22 ± < 00:01,73036.38,58 m - 130 m,0.058,0.13
(2012 UE34),1991-Apr-08 15:50 ± < 00:01,330585.72,58 m - 130 m,0.058,0.13
(2019 OD),2019-Jul-24 13:31 ± < 00:01,357493.86,56 m - 120 m,0.056,0.12
163132 (2002 CU11),1925-Aug-30 23:38 ± < 00:01,345961.80,530 m - 1.2 km,0.530,1.20
(2002 MN),2002-Jun-14 02:03 ± 00:02,119164.62,51 m - 110 m,0.051,0.11
(2010 WC9),2018-May-15 22:05 ± < 00:01,203733.06,51 m - 110 m,0.051,0.11
152680 (1998 KJ9),1914-Dec-31 12:01 ± < 00:01,234485.22,350 m - 780 m,0.350,0.78
(2017 VW13),2001-Nov-08 12:24 ± 1_04:35,142228.74,190 m - 430 m,0.190,0.43
(2002 JE9),1971-Apr-11 02:33 ± 00:14,269081.40,150 m - 340 m,0.150,0.34
(2012 TY52),1982-Nov-04 08:08 ± 00:03,315209.64,140 m - 310 m,0.140,0.31
308635 (2005 YU55),2011-Nov-08 23:29 ± < 00:01,326741.70,110 m - 250 m,0.110,0.25