In [11]:
import pandas as pd
import os

In [12]:
space_track_boxscore= "../csv_input/space_track_boxscore.csv"
boxscore_df = pd.read_csv(space_track_boxscore)
boxscore_df.head()

,COUNTRY,SPADOC_CD,ORBITAL_TBA,ORBITAL_PAYLOAD_COUNT,ORBITAL_ROCKET_BODY_COUNT,ORBITAL_DEBRIS_COUNT,ORBITAL_TOTAL_COUNT,DECAYED_PAYLOAD_COUNT,DECAYED_ROCKET_BODY_COUNT,DECAYED_DEBRIS_COUNT,DECAYED_TOTAL_COUNT,COUNTRY_TOTAL
0,ALGERIA,ALG,0,6,0,0,6,0,0,0,0,6
1,ALL,ALL,138,6141,2247,13020,21546,3564,3942,17621,25127,46673
2,ARAB SATELLITE COMMUNICATIONS ORGANIZATION,AB,0,14,0,0,14,1,0,0,1,15
3,ARGENTINA,ARGN,0,24,0,1,25,2,0,0,2,27
4,ASIASAT CORP,AC,0,8,0,0,8,0,0,0,0,8

In [24]:
#Create new df for decayed
country = boxscore_df["COUNTRY"]
Decayed_rocket_bod= boxscore_df["DECAYED_ROCKET_BODY_COUNT"]
Decayed_debris = boxscore_df["DECAYED_DEBRIS_COUNT"]
Decayed_total = boxscore_df["DECAYED_TOTAL_COUNT"]

decay_df = pd.DataFrame({"Country": country,
                         "Decayed Rocket Body Count": Decayed_rocket_bod,
                         "Decayed Debris Count" : Decayed_debris,
                         "Decayed Total" : Decayed_total})
decay_df

,Country,Decayed Rocket Body Count,Decayed Debris Count,Decayed Total
0,ALGERIA,0,0,0
1,ALL,3942,17621,25127
2,ARAB SATELLITE COMMUNICATIONS ORGANIZATION,0,0,1
3,ARGENTINA,0,0,2
4,ASIASAT CORP,0,0,0
...,...,...,...,...
101,UNITED STATES OF AMERICA,702,4623,6510
102,UNITED STATES/BRAZIL,0,0,0
103,URUGUAY,0,0,0
104,VENEZUELA,0,0,0
105,VIETNAM,0,0,2